@tailwind base;
@tailwind components;
@tailwind utilities;
/* Globals */
html{
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
}
*, *::before, *::after{
  box-sizing: inherit;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  max-width: 100vw;
  margin: auto;
}
img,video,svg{
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6,p,span{
  margin: 0;
}
a{
  text-decoration: none;
}
input{
  outline: none;
}
button{
  border: none;
}
/* Tools */
.overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
  z-index: 99;
}
.overlay.active{
  opacity: 1;
  pointer-events: all;
}
.hidden-scroll::-webkit-scrollbar{
  width: 0px;
}
/* Responsive */
@media only screen and (min-width: 680px) {
    
}
@media only screen and (min-width: 980px) {
    
}