@tailwind base;
@tailwind components;
@tailwind utilities;
/* Globals */
html{
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
}
*, *::before, *::after{
  box-sizing: inherit;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  max-width: 100vw;
  margin: auto;
}
img,video,svg{
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6,p,span{
  margin: 0;
}
a{
  text-decoration: none;
}
input, select{
  outline: none;
}
button{
  border: none;
}
/* Tools */
.overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
  z-index: 99;
}
.overlay.active{
  opacity: 1;
  pointer-events: all;
}
.hidden-scroll::-webkit-scrollbar{
  width: 0px;
}

.swal2-popup .swal2-styled:focus{
  box-shadow: none !important;
}
.swal2-popup {
  font-size: 1.2rem !important;
}

.svg-loader{
  display:flex;
  position: relative;
  align-content: space-around;
  justify-content: center;
}
.loader-svg{
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  fill: none;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke: #172333;
}
.loader-svg.bg{
  stroke-width: 8px;
  stroke: rgb(212, 210, 210);
}
.animate{
  stroke-dasharray: 242.6;
  animation: fill-animation 1s cubic-bezier(1,1,1,1) 0s infinite;
}
.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  max-width: 80%;
}
.modal.active{
  transform: translate(-50%, -50%) scale(1);
}

@keyframes fill-animation{
  0%{
    stroke-dasharray: 40 242.6;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 141.3;
    stroke-dashoffset: 141.3;
  }
  100%{
    stroke-dasharray: 40 242.6;
    stroke-dashoffset: 282.6;
  }
}